:root {
  --blue: rgb(0, 150, 255);
}

.detailContainer {
  display: block;
  padding-left: calc(var(--space) + var(--margin));
  padding-bottom: 350px;
}

.header {
  text-align: left;
  font-size: 24px;
  padding-bottom: 24px;
}

.subheader {
  font-size: 18px;
}

.images {
  margin-top: var(--space);
  margin: 0 auto;
  padding-bottom: 96px;
}

.audio {
  width: 60%;
  height: 48px;
  margin-bottom: var(--space);
  margin-top: var(--space);
}

.translation {
  margin: 0 auto;
}

.image {
  margin-bottom: var(--space);
}

@media only screen and (min-width: 1080px) {
  .pieceDetailContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .translation {
    flex-basis: 25rem;
    flex-grow: 1;
    margin-right: var(--space);
  }
  .images {
    flex-basis: 0;
    flex-grow: 999;
    margin-top: 0;
  }
}
