:root {
  --blue: rgb(0, 150, 255);
}
.detailContainer {
  background: linear-gradient(
    rgb(222 233 255) 0%,
    #82d2ff 30%,
    rgb(0, 150, 255) 100%
  );
}

.header {
  text-align: center;
  font-size: 24px;
  padding-bottom: 24px;
}

.subheader {
  font-size: 18px;
}

.images {
  margin-top: 12px;
  margin: 0 auto;
}

.audio {
  width: 60%;
  height: 48px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.translation {
  margin: 0 auto;
}

.image {
  margin-bottom: 12px;
}
