:root {
  --blue: rgb(0, 150, 255);
}

.detailContainer {
  display: block;
  padding-bottom: 350px;
}

/* .pieceDetailContentContainer {
  background-image: linear-gradient(
    var(--white) 0%,
    var(--lightBlue) 30%,
    var(--blue) 100%
  );
} */

.header {
  text-align: left;
  font-size: 24px;
  margin: var(--margin);
}

.pieceDetailContent {
  margin: var(--margin);
}

.subheader {
  font-size: 18px;
}

.images {
  margin-top: var(--margin);
  margin: 0 auto;
  padding-bottom: 96px;
}

.audio {
  width: 60%;
  height: 48px;
  margin-bottom: var(--magin);
  margin-top: var(--margin);
}

.translation {
  margin: 0 auto;
  font-family: "josefin sans", sans-serif;
}

.image {
  margin-bottom: var(--margin);
}

@media only screen and (min-width: 800px) {
  .pieceDetailContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .translation {
    flex-basis: 24rem;
    flex-grow: 1;
    margin-right: var(--space);
  }
  .images {
    flex-basis: 0;
    flex-grow: 999;
    margin-top: 0;
  }
}
