/* TODO: MOVE THIS TO A BETTER PLACE LMAO */

.addResponse {
  padding: calc(var(--space));
  height: 100%;
}

.addResponseHeader {
  padding-left: 0;
  padding-right: 0;
}

.addResponseHeader.content-container {
  padding-left: 0;
  padding-right: 0;
}

.addResponseText {
  margin-bottom: var(--margin);
  padding: 0;
  margin: 0;
}

.responseError {
  color: var(--red);
  margin: var(--margin);
}

.responseInput {
  width: 100%;
  margin: var(--margin);
}

.responseInput input,
.responseInput textarea {
  width: 100%;
  padding: var(--margin);
  max-width: calc(100vw - var(--margin));
  box-sizing: border-box;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.responseInput button {
  padding: var(--margin);
  font-family: "Josefin sans", sans-serif;
  font-weight: 500;
  outline: none;
  margin-top: var(--margin);
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 5px 6px var(--white);
  background: var(--white);
  color: gray;
}

.responseInput button.active {
  border: none;
  box-shadow: 0px 0px 5px 6px var(--yellow);
  background: var(--yellow);
  color: black;
}

.responseInput select {
  margin-left: var(--margin);
  padding: var(--margin);
  max-width: calc(100vw - var(--margin));
}

.responseDetailContainer {
  padding-bottom: 96px;
}
.responseDetailContainer .content-container.flex .half.response-about {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 20%;
  min-height: 20%;
}

.responsePreview {
  background: var(--yellow);
  box-shadow: 0px 0px 12px 10px var(--yellow);
  cursor: pointer;
  padding: 4px;
}

.responsePreview:hover {
  width: 200px;
  translate: translateX(-200px);
}

.responsePreview {
  position: fixed;
  bottom: 20px;
  left: calc(100% - 32px);
  width: 100px;
  transform: translateX(-100%);
}

.responsePreview .author,
.responseDetail .author,
.responsePreview .info,
.responseDetail .info {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.responsePreview .author::before,
.responseDetail .author::before {
  content: "from: ";
}

.responsePreview:hover,
.expandedResponsePreview {
  background: var(--lightYellow);
  box-shadow: 0px 0px 12px 10px var(--lightYellow);
}

@keyframes floatup {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: 100vh;
  }
}

/* TODO mobile layouts */
@media only screen and (max-width: 800px) {
  .responseInput input,
  .responseInput textarea {
    width: calc(100% - var(--margin));
  }

  .responseInput select {
    margin-left: 0;
    width: calc(100% - var(--margin));
  }
}
