.responseBanner {
  width: 100%;
  position: fixed;
  bottom: 0px;
  font-size: 14px;

  font-family: Helvetica, sans-serif;
  padding-bottom: 32px;
}

.button,
.responsePreview {
  background: var(--yellow);
  box-shadow: 0px 0px 12px 10px var(--yellow);
  cursor: pointer;
  padding: 4px;
}

.button:hover,
.responsePreview:hover,
.expandedResponsePreview {
  background: var(--lightYellow);
  box-shadow: 0px 0px 12px 10px var(--lightYellow);
}

.button {
  padding-top: 12px;
  padding-bottom: 12px;
}

.add {
  float: left;
}

.see {
  float: right;
}

.responsePreview,
.responseDetail {
  font-size: 16px;
  line-height: 18px;
}
.responsePreview {
  position: fixed;
  bottom: 20px;
  max-width: 250px;
}

.responsePreview .author,
.responseDetail .author {
  font-style: italic;
}

.responsePreview .author::before,
.responseDetail .author::before {
  content: "from";
}

/* TODO: MOVE THIS TO A BETTER PLACE LMAO */
.responseDetailContainer,
.addResponse {
  padding-top: 32px;
  height: 100%;
  background-image: linear-gradient(var(--yellow) 0%, var(--lightYellow) 20%);
}

.responseDetailContainer .content-container.flex .half.response-about {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 20%;
  min-height: 20%;
}

@keyframes floatup {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: 100vh;
  }
}

/* TODO mobile layouts */
